<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-03B0BKZWSQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-03B0BKZWSQ');
</script>
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MPNW7CTX');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <meta name="description" content="Biblioteca digital de libros clásicos en dominio público. Lee gratis obras como Los Miserables, Orgullo y Prejuicio y Sherlock Holmes en español.">

<meta name="robots" content="index, follow">

<!-- Open Graph -->
<meta property="og:title" content="Biblioteca Digital de Libros Clásicos">
<meta property="og:description" content="Lee libros clásicos gratuitos en español desde nuestra biblioteca digital.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://png.pngtree.com/background/20250205/original/pngtree-grand-library-interior-with-bookshelves-and-lighting-picture-image_15758817.jpg">
<meta property="og:image" content="https://png.pngtree.com/background/20250205/original/pngtree-grand-library-interior-with-bookshelves-and-lighting-picture-image_15758817.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">


    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPNW7CTX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <h1>📚 Biblioteca Virtual de Clásicos</h1>
    <p class="subtitle">
        Obras literarias de dominio público disponibles para lectura gratuita
    </p>
</header>
